*/
!.scripts/
.scripts/startapps.sh
!alacritty/
!alacritty/themes
!bspwm/
!bspwm/wallpapers
bspwm/wallpapers/archived
!ckb-next/
!dunst/
!eww/
!khal/
!nvim/
!picom/
!polybar/
!ranger/
!rofi/
!sxhkd/
!wal/

QtProject.conf
greenclip.toml
kdeglobals
mimeapps.list
pavucontrol.ini
