*/
.*
!.config/
!.config/.scripts/
.config/.scripts/startapps.sh
!.config/alacritty/
!.config/alacritty/themes
!.config/bspwm/
!.config/bspwm/wallpapers
.config/spwm/wallpapers/archived
!.config/ckb-next/
!.config/dunst/
!.config/eww/
!.config/khal/
!.config/nvim/
!.config/picom/
!.config/polybar/
!.config/ranger/
!.config/rofi/
!.config/sxhkd/
!.config/wal/

.config/QtProject.conf
.config/greenclip.toml
.config/kdeglobals
.config/mimeapps.list
.config/pavucontrol.ini
